<section>
  <img routerLink="/" src="assets/img/logo-red.png" alt="Logo" class="logo">
  
  <form (ngSubmit)="onSubmit()">
    <!-- Success Message -->
    <div *ngIf="loginSuccess" class="success-message">
      Login erfolgreich! Weiterleitung...
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <h2>Login</h2>

    <div class="input-group">
      <input 
        type="email" 
        [(ngModel)]="credentials.email"
        name="email"
        placeholder="Email address" 
        required
      >
    </div>

    <div class="input-group password-group">
      <input 
        id="password" 
        [type]="showPassword ? 'text' : 'password'" 
        [(ngModel)]="credentials.password"
        name="password"
        placeholder="Enter your password" 
        required
      >
      <img 
        class="toggle-password" 
        [src]="showPassword ? 'assets/img/donot-show-pw.png' : 'assets/img/show-pw.png'"
        (click)="togglePasswordVisibility()"
        alt="Toggle Password Visibility"
      >
    </div>

    <div class="forgot-password">
      <a href="#">Forgot password?</a>
    </div>

    <button type="submit" [disabled]="isLoading">
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading">Wird verarbeitet...</span>
    </button>

    <div class="signup-link">
      New to Videoflix? <a routerLink="/register">Sign up now</a>
    </div>
  </form>
</section>