<section class="video-section">
  <div class="nav-container">
    <img class="logo" routerLink="/" src="assets/img/new-mini-logo.png" alt="Videoflix Logo">
    <button class="logout-button" (click)="logout()">
      <span>Logout</span>
      <svg class="logout-icon" viewBox="0 0 24 24">
        <path fill="currentColor" d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" />
      </svg>
    </button>
  </div>

  <div *ngIf="loading" class="spinner"></div>
  <div *ngIf="!loading" class="video-grid">
    <div *ngFor="let video of videos" class="video-card" (click)="openModal(video)">
      <video controls>
        <source [src]="video.video_file" type="video/mp4">
        Dein Browser unterstützt das Video-Tag nicht.
      </video>
      <div class="video-info">
        <h3>{{ video.title }}</h3>
        <p>{{ video.description }}</p>
        <p>Created: {{ video.created_at }}</p>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <video controls autoplay>
        <source [src]="selectedVideo?.video_file" type="video/mp4">
        Dein Browser unterstützt das Video-Tag nicht.
      </video>
      <div class="modal-video-info">
        <h3>{{ selectedVideo?.title }}</h3>
        <p>{{ selectedVideo?.description }}</p>
      </div>
    </div>
  </div>
</section>
