<section>

  <header class="header">
      <img src="assets/img/logo.png" alt="Videoflix Logo" class="logo">
  </header>

  <form (ngSubmit)="onSubmit()">

      <div *ngIf="resetSuccess" class="success-message">
          Passwort erfolgreich zurückgesetzt! Weiterleitung...
      </div>

      <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
      </div>

      <h2>Passwort zurücksetzen</h2>
      <p class="subtitle">Erstelle ein neues Passwort für dein Videoflix-Konto.</p>

      <div class="input-group password-group">
          <input
              id="newPassword"
              [type]="showNewPassword ? 'text' : 'password'"
              [(ngModel)]="newPassword"
              name="newPassword"
              placeholder="Neues Passwort"
              required
          >
          <img
              class="toggle-password"
              [src]="showNewPassword ? 'assets/img/donot-show-pw.png' : 'assets/img/show-pw.png'"
              (click)="toggleNewPasswordVisibility()"
              alt="Toggle Password Visibility"
          >
      </div>

      <div class="input-group password-group">
          <input
              id="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              placeholder="Neues Passwort bestätigen"
              required
          >
          <img
              class="toggle-password"
              [src]="showConfirmPassword ? 'assets/img/donot-show-pw.png' : 'assets/img/show-pw.png'"
              (click)="toggleConfirmPasswordVisibility()"
              alt="Toggle Password Visibility"
          >
      </div>

      <button type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">Passwort zurücksetzen</span>
          <span *ngIf="isLoading">Wird verarbeitet...</span>
      </button>
  </form>

  <footer class="footer">
      <a routerLink="/imprint">Datenschutz</a>
      <a routerLink="/privacy-policy">Impressum</a>
  </footer>
</section>
