
<section>
    <img routerLink="/" src="assets/img/logo-black.png" alt="Logo" class="logo">
    <div class="content-container">
        <div class="headline-box">
            <h3>Movies & Series</h3>
            <div class="button-container">
                <button routerLink="/login" class="cta-button">
                    <span>Login</span>
                </button>
                <button routerLink="/register" class="cta-button">
                    <span>Sign up</span>
                </button>
            </div>
        </div>

        <p class="intro-text">Immerse yourself in a universe of stories, emotions & adventures.<br>
            Log in or sign up now to begin your journey without a subscription.</p>
    </div>

    <app-footer class="footer-dark"></app-footer>
</section>