@import '../../styles.scss';

section {
    max-height: 100%;
    width: 100%;
    background-image: url('../../../public/assets/img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover; /* Bild deckt den gesamten Bereich ab */
    background-position: center; /* Bild wird zentriert */
    background-attachment: fixed; /* Bild bleibt beim Scrollen fixiert */
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        h3 {
            padding-top: 128px;
            font-size: 96px;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p {
            padding-bottom: 128px;
            padding-right: 64px;
            font-size: 24px;
        }
    }
}