/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
}

$red-color: #df0808;

.red-bg {
    background-color: $red-color !important;
}

.red-color {
    color: $red-color !important;
}
