<section>
  <img routerLink="/" src="assets/img/logo.png" alt="Logo" class="logo">

  <form (ngSubmit)="onSubmit()">

    <div *ngIf="registrationSuccess" class="success-message">
      Registrierung erfolgreich!
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <h2>Sign up</h2>

    <div class="input-group">
      <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email address" required>
    </div>

    <div class="input-group password-group">
      <input id="password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" name="password"
        placeholder="Enter a password" required>
      <img class="toggle-password" [src]="showPassword ? 'assets/img/donot-show-pw.png' : 'assets/img/show-pw.png'"
        (click)="togglePasswordVisibility('password')" alt="Toggle Password Visibility">
    </div>

    <div class="input-group password-group">
      <input id="confirm-password" [type]="showConfirmPassword ? 'text' : 'password'"
        [(ngModel)]="user.confirm_password" name="confirm_password" placeholder="Confirm password" required>
      <img class="toggle-password"
        [src]="showConfirmPassword ? 'assets/img/donot-show-pw.png' : 'assets/img/show-pw.png'"
        (click)="togglePasswordVisibility('confirm-password')" alt="Toggle Password Visibility">
    </div>

    <div class="policy">
      <input type="checkbox" id="policy" [(ngModel)]="policyAccepted" name="policy" required>
      <label for="policy">Please confirm the <a href="#">privacy policy.</a></label>
    </div>

    <button type="submit" [disabled]="isLoading">
      <span *ngIf="!isLoading">Sign up</span>
      <span *ngIf="isLoading">Wird verarbeitet...</span>
    </button>
  </form>

  <app-footer></app-footer>
</section>

